!!! 5
.container
  %header
    %h1 Enterprise Dependency Dashboard
    %h2 Monitor all the dependencies in your project.
  %nav
    %button.show-monitor Add Monitor
    %button.show-group Add Group
  .main
    .box
      %h3 Virtual NPR
      .content
        %section.monitor.icon.url.success
          %h4 URL
        %section.monitor.icon.database.success
          %h4 Database
        %section.monitor.icon.rest.fail
          %h4 REST
        %section.monitor.icon.soap.fail
          %h4 SOAP
        %section.monitor.icon.message-queue.success
          %h4 Message Queue
        %section.monitor.icon.custom.fail
          %h4 Custom

.modal.add-monitor
  .dialog
    %header
      %h3 Add Monitor
      %span.close &times;
    .body
      %form
        %div
          %label Service Type:
          %select
            %option URL
            %option DB
            %option REST
            %option SOAP
            %option MessageQueue
            %option Custom
        %div
          %label Group:
          %select
            %option Virtual NPR
    %footer
      %button.submit Add
.modal.add-group
  .dialog
    %header
      %h3 Add Group
      %span.close &times;
    .body
      %form
        %div
          %label Group Name:
          %input{:type => 'text'}
    %footer
      %button.submit Add