!!! 5
.container
  %header
    %h1 Enterprise Dependency Dashboard
    %h2 Monitor all the dependencies in your project.
  %nav
    %button.show-monitor Add Monitor
    %button.show-group Add Group
  .main
    .box.active
      %h3 Virtual NPR
      .content
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP
        %section.monitor.icon.message-queue.success
          %h4 Client Message Queue
        %section.monitor.icon.custom.fail
          %h4 Customised Service
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP
        %section.monitor.icon.message-queue.success
          %h4 Client Message Queue
        %section.monitor.icon.custom.fail
          %h4 Customised Service
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP
        %section.monitor.icon.message-queue.success
          %h4 Client Message Queue
        %section.monitor.icon.custom.fail
          %h4 Customised Service
    .box.active
      %h3 Customer Index
      .content
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP

.modal.add-monitor
  .dialog
    %header
      %h3 Add Monitor
      %span.close &times;
    .body
      %form
        %div
          %label Service Type:
          %select.type
            %option URL
            %option Database
            %option REST
            %option SOAP
            %option Message Queue
            %option Custom
        %div
          %label Group:
          %select
            %option Virtual NPR
        %div
          %label Title:
          %input{:type => 'text'}
        %div
          %label Description:
          %textarea
        .monitor-section.add-url
          %div
            %label URL:
            %input{:type => 'url'}
        .monitor-section.add-database
          %div
            %label Database Type:
            %input{:type => 'text'}
          %div
            %label Database URL:
            %input{:type => 'url'}
        .monitor-section.add-rest
          %div
            %label REST URL:
            %input{:type => 'url'}
    %footer
      %button.submit Add
.modal.add-group
  .dialog
    %header
      %h3 Add Group
      %span.close &times;
    .body
      %form
        %div
          %label Group Name:
          %input{:type => 'text'}
    %footer
      %button.submit Add

.modal.monitor-url
  .dialog
    %header
      %h3 Google.com
      %span.close &times;
    .body
      %div
        %label Description:
        %p This is to validate if Google search function is available
      %div
        %label URL:
        %label https://google.co.uk
      %div
        %label Status:
        %label Successful
.modal.monitor-database
  .dialog
    %header
      %h3 Build env MySQL
      %span.close &times;
    .body
      %div
        %label Description:
        %p MySQL database of Build environment
      %div
        %label Database Type:
        %label MySQL
      %div
        %label Database URL:
        %label mysql://build.internal/build
      %div
        %label Status:
        %label Disabled
.modal.monitor-rest
  .dialog
    %header
      %h3 Github REST
      %span.close &times;
    .body
      %div
        %label Description:
        %p Github REST Service
      %div
        %label REST URL:
        %label https://api.github.com/v2
      %div
        %label Status:
        %label Failed
