!!! 5
.container
  %header
    %h1 Enterprise Dependency Dashboard
    %h2 Monitor all the dependencies in your project.
  %nav
    %button.refresh Refresh
    %button.show-monitor Add Monitor
    %button.show-group Add Group
  .main
    .box.active
      %h3 Virtual NPR
      %a.setting{:href => "#"}
      .setting-menu
        %a{:href => "#"} Edit
        %a.delete{:href => "#"} Delete
      .content
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP
        %section.monitor.icon.message-queue.success
          %h4 Client Message Queue
        %section.monitor.icon.custom.fail
          %h4 Customised Service
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP
        %section.monitor.icon.message-queue.success
          %h4 Client Message Queue
        %section.monitor.icon.custom.fail
          %h4 Customised Service
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP
        %section.monitor.icon.message-queue.success
          %h4 Client Message Queue
        %section.monitor.icon.custom.fail
          %h4 Customised Service
    .box.active
      %h3 Customer Index
      %a.setting{:href => "#"}
      .setting-menu
        %a{:href => "#"} Edit
        %a.delete{:href => "#"} Delete
      .content
        %section.monitor.icon.url.success
          %h4 Google.com
        %section.monitor.icon.database.disabled
          %h4 Build env MySQL
        %section.monitor.icon.rest.fail
          %h4 Github REST
        %section.monitor.icon.soap.success
          %h4 Twitter SOAP

.modal.delete-confirm
  .dialog
    %header
      %h3 Do you want to delete?
      %span.close &times;
    %footer
      %button.yes Yes
      %button.no No

= render "layouts/modal-add"

= render "layouts/modal-monitor"