*
  font-family: Arial, sans-serif
  font-weight: normal

$light-grey: #ededed
$dodger-blue: #1e90ff
$turquoise: #40e0d0
$grey-blue: #c4e3f3

button
  height: 40px
  width: 100px
  color: white
  font-size: 14px