.container
  max-width: 1040px
  margin: 20px auto

header
  border-bottom: 1px solid $light-grey
  h1, h2
    padding: 10px 0
  h2
    font-size: 16px
nav
  padding: 20px 0
  text-align: right
  border-bottom: 1px solid $light-grey
  button
    &.show-monitor
      background: $dodger-blue
    &.show-group
      background: $turquoise
.main
  padding: 20px 0
  .box
    border: 1px solid $grey-blue
    h3
      background: $grey-blue
      color: white
      padding: 10px 20px
    .content
      padding: 10px 20px